# Set this to the hostname that you intend to run the service at
HOSTNAME="feeds.baronvonpaddington.com"

# You can obtain it by publishing of feed (run publish_feed.py)
BARONFEED_URI="at://did:web:feeds.baronvonpaddington.com/baronfeed"

# Only use this if you want a service did different from did:web
# SERVICE_DID="did:plc:abcde..."
